<div class="row">
  <div class="col-9">
    <h1>Usuários Cadastrados (<%= @mail_users.count %>)</h1>    
  </div>
  <div class="col-3">
    <div style="float: none; height: 100%">
      <%= link_to 'Ver todos', admin_mail_users_url if params[:nationality].present? %>
    </span>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>País</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% @mail_users.each do |mail_user| %>
      <tr>
        <td><%= mail_user.email %></td>
        <td><%= link_to mail_user.nationality, admin_mail_users_url(:nationality => mail_user.nationality ) %></td>
        <td><%= mail_user.created_at.strftime("%d/%m") %></td>
      </tr>
    <% end %>
  </tbody>
</table>