<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calculadora de Poupança</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-primary" role="alert" style="display: <%= notice.blank? ? 'none' : 'block'  %>"><%= notice %></div>
          <div class="alert alert-danger" role="alert" style="display: <%= alert.blank? ? 'none' : 'block'  %>"><%= alert %></div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
